.login {
  min-height: 100vh;
  background: url(./background.png) no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.login .logo {
  width: max(20vw, 200px);
}
.login-form {
  background-color: white;
  padding: 20px 50px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 10px;
  width: 370px;
}
.login-form h2 {
  font-weight: 500;
}
.form-input {
  width: 100%;
  padding: 10px 40px;
  border: none;
  outline-color: #077eff;
}
.login-form button {
  padding: 10px;
  background-color: #077eff;
  cursor: pointer;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 4px;
}
.login-term {
  display: flex;
  gap: 5px;
  font-size: 12px;
  color: #808080;
}
.login-forgot {
  gap: 5px;
  display: flex;
  flex-direction: column;
}
.login-toggle {
  font-size: 13px;
  color: #5c5c5c;
}
.login-toggle span {
  font-weight: 500;
  color: #077eff;
  cursor: pointer;
  padding-left: 5px;
}

.form-input-container {
  position: relative;
  align-items: center;
  width: 100%;
  display: flex;
  align-items: center;
  border: 1px solid #c9c9c9;
  border-radius: 4px;
  margin-bottom: 20px;
  gap: 10px;
}

.form-input-icon {
  position: absolute;
  font-size: 1rem;
  padding: 1rem;
  padding-top: 20px;
  color: #888;
}

.gender-selection {
  display: flex;
  gap: 15px;
  margin-bottom: 15px;
}

.gender-option {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}

.pass-input-container {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
}

.pass-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 1.2rem;
  color: #888;
}

.pass-icon:hover {
  color: #000;
}
